#Content__Main {
    width: 0%;
    height: 0%;
    top: 50%;
    z-index: 101;
    left: 50%;
    position: absolute;
    transition-property: left, top, height, width;
    transition-duration: 0.5s;

    .Content__Main__Body {
        width: 100%;
        height: 100%;
        position: absolute;
        transition-property: opacity;
        transition-duration: 0.5s;
        transition-delay: 0.5s;
        opacity: 0;
    }

    .Content__Main__Background {
        width: 100%;
        height: 100%;
        background-color: #ffa500;
        position: absolute;
        transition-property: opacity;
        transition-duration: 0.5s;
        opacity: 1;
    }
}