#Content__Main__Foot {
    width: 100%;
    height: 10%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 7px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 10px 10px;
    line-height: 80px;
    font-size: 30px;
    text-align: center;
    border-radius: 0px 0px 50px 0px;
    cursor: pointer;

    transition-property: color;
    transition-duration: 0.3s;

    &:hover {
        background-color: #ffa500;
        // color: white;
    }
}