#Content__Main__Title {
    width: 800px;
    height: 10%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 7px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 10px 10px;
    line-height: 80px;
    font-size: 30px;
    text-align: center;
    border-radius: 50px 0px 0px 0px;
}

// screen on window
@media screen and (max-width: 1000px) {
    #Content__Main__Title {
        width: 100%;
    }
}